body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: #f7f7f7;
}
.socialBar {
	width: 80%;
	margin: 100px auto;
	padding: 20px;
	box-sizing: border-box;
	text-align: center;
}
.socialBar h1 {
	font-size: 48px;
	text-transform: uppercase;
}
.socialBar ul {
	margin: 0;
	padding: 0;
}
.socialBar ul li {
	list-style: none;
	float: left;
	width: calc(100% / 8);
	box-sizing: border-box;
}
.socialBar ul li a {
	display: block;
	padding: 20px;
	text-decoration: none;
	color: #fff;
}
.socialBar ul li a .fa {
	font-size: 40px;
	transition: .5s;
}
.socialBar ul li a:hover .fa {
	transform: rotateY(360deg);
}
.socialBar ul li:nth-child(1) a {
	background: #3b5999;
}
.socialBar ul li:nth-child(2) a {
	background: #55acee;
}
.socialBar ul li:nth-child(3) a {
	background: #dd4b39;
}
.socialBar ul li:nth-child(4) a {
	background: #007785;
}
.socialBar ul li:nth-child(5) a {
	background: #00aff0;
}
.socialBar ul li:nth-child(6) a {
	background: #e4405f;
}
.socialBar ul li:nth-child(7) a {
	background: #cd201f;
}
.socialBar ul li:nth-child(8) a {
	background: #bd081c;
}

@media (max-width: 992px) {
	.container h1 {font-size: 30px;}
	.container ul li {width: calc(100% / 4);}
}

@media (max-width: 768px) {
	.container {width: 100%;}
}

@media (max-width: 480px) {
	.container {margin: 20px auto;}
	.container ul li {width: calc(100% / 2);}
}
@media (max-width: 360px) {
	.container {margin: 0 auto;}
	.container ul li {width: calc(100% / 1);}
}

.Face-Publicaciones{
	margin-top: 20%;
}